@font-face {
  font-family: "Karla";
  src: url("assets/fonts/static/Karla-Regular.woff2") format("woff2"),
    url("assets/fonts/static/Karla-Regular.woff") format("woff"),
    url("assets/fonts/static/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Karla";
  src: url("assets/fonts/static/Karla-Bold.woff2") format("woff2"),
    url("assets/fonts/static/Karla-Bold.woff") format("woff"),
    url("assets/fonts/static/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  /* font family */
  --font-family-body: "Karla";

  /* font weight */
  --font-weight-regular: 400;
  --font-weight-strong: 700;

  /* font size */
  --font-size-body: 1rem;

  /* colors */
  --color-primary-200: hsl(148, 38%, 91%);
  --color-primary-600: hsl(169, 82%, 27%);
  --color-primary-1: hsl(0, 66%, 54%);
  --color-neutral-1: hsl(0, 0%, 100%);
  --color-neutral-500: hsl(186, 15%, 59%);
  --color-neutral-900: hsl(187, 24%, 22%);
}

/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  border: none;
  padding: 0;
  margin: 0;
}

/* General styles */

body {
  min-height: 100vh;
  background-color: var(--color-primary-200);
  font-family: var(--font-family-body);
  padding-block: 1.3rem;
  padding-inline: 1rem;
}

.contact-form {
  background-color: var(--color-neutral-1);
  border-radius: 1rem;
  padding-block: 1.4rem;
  padding-inline: 1.4rem;
}

.contact-form__title {
  font-size: 2rem;
  font-weight: var(--font-weight-strong);
  color: var(--color-neutral-900);
}

.input-label {
  font-size: var(--font-size-body);
  color: var(--color-neutral-900);
  font-weight: var(font);
}

.input-label::after {
  content: '*';
  color: var(--color-primary-600);
  font-weight: var(--font-weight-strong);
  margin-inline-start: .3rem;
}

.text-input,
.email-input {
  padding-inline: 1rem;
  padding-block: .8rem;
  border: 2px solid var(--color-neutral-500);
  border-radius: .5rem;
  color: var(--color-neutral-900);
}

.text-input:focus,
.email-input:focus {
  outline: transparent;
}

.text-input:hover,
.text-input:focus-visible,
.email-input:hover,
.email-input:focus-visible {
  border: 2px solid var(--color-primary-600);
}

.error-message {
  font-size: 1rem;
  color: var(--color-primary-1);
  display: none;
}

.firstName-wrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-block-start: 1.5rem;
}

.lastName-wrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-block-start: 1rem;
}

.email-wrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-block-start: 1rem;
}

.query-type-wrapper {
  margin-block-start: 1rem;
}

.query-type-wrapper label {
  font-size: 1.1rem;
  color: var(--color-neutral-900);
  padding-inline-start: 1.6rem;
  padding-inline-end: 1rem;
  padding-block: .8rem;
  border: 2px solid var(--color-neutral-500);
  border-radius: .5rem;
  display: flex;
  align-items: center;
  gap: .7rem;
  cursor: pointer;
}

.query-type-wrapper label:hover,
.query-type-wrapper label:focus-visible {
  background-color: var(--color-primary-200);
  border: 2px solid var(--color-primary-600)
}

.radio-wrapper {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  margin-block-start: 1rem;
}



.userMessage-wrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-block-start: 1rem;
}

.userMessage {
  resize: none;
  padding-inline: 1rem;
  padding-block: .8rem;
  border: 2px solid var(--color-neutral-500);
  border-radius: .5rem;
  color: var(--color-neutral-900);
}

.userMessage:focus {
  outline: transparent;
}

.userMessage:hover,
.userMessage:focus-visible {
  border: 2px solid var(--color-primary-600);
}

.checkbox-wrapper {
  margin-block-start: 1.5rem;
}

.submit-btn {
  width: 100%;
  background-color: var(--color-primary-600);
  color: var(--color-neutral-1);
  font-weight: var(--font-weight-strong);
  padding-block: 1rem;
  margin-block-start: 1.5rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus-visible {
  background-color: var(--color-neutral-900);
}

